extends layout

block content
  h2 #{title}
  h3 #{message}
  - var stuff = statdata.stuff
  - var noOfLines = 2;
  - var size = (100 / (statdata.length / noOfLines))
  each item, i in stuff
    div(style='width: '+(size)+'%; height: '+(size)+'%; float: left;')= item+'!'
        canvas(id='chart'+i)

-//todo: plot stuff ...